<!-- phase 1 -->
<form
  *ngIf="phase1"
  class="w-75 mx-auto p-4 rounded-4 shadow"
  [formGroup]="sendCodeInput"
  (ngSubmit)="sendCode()"
>
  <h2>Enter Your Email :</h2>

  <div class="row justify-content-between align-items-center">
    <!-- input -->
    <div class="col-md-8">
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Enter your email"
      />
    </div>

    <div class="my-3 col-md-4 flex-shrink-0">
      <button class="btn btn-main">
        <span *ngIf="!isLoading">Send Verify Code</span>
        <i class="fas fa-spin fa-spinner" *ngIf="isLoading"></i>
      </button>
    </div>
  </div>

  <!-- erros alret div -->
  <p
    class="text-danger m-0"
    *ngIf="
      sendCodeInput.get('email')?.errors && sendCodeInput.get('email')?.touched
    "
  >
    This Field Is Required!
  </p>

  <!-- API Response -->
  <p class="text-center text-danger m-0">{{ serverErrorResponse }}</p>
</form>

<!-- phase 2 -->
<form
  *ngIf="phase2"
  class="w-75 mx-auto p-4 rounded-4 shadow"
  [formGroup]="verifyCodeInput"
  (ngSubmit)="verifyCode()"
>
  <h2>Enter Verification Code :</h2>

  <div class="row justify-content-between align-items-center">
    <!-- input -->
    <div class="col-md-8">
      <input type="text" formControlName="resetCode" class="form-control" />
    </div>

    <div class="my-3 col-md-4 flex-shrink-0">
      <button class="btn btn-main">
        <span *ngIf="!isLoading">Verify</span>
        <i class="fas fa-spin fa-spinner" *ngIf="isLoading"></i>
      </button>
    </div>
  </div>

  <!-- API Response -->
  <p class="text-center text-danger m-0">{{ serverErrorResponse }}</p>
</form>

<!-- phase 3 -->
<form
  *ngIf="phase3"
  class="w-75 mx-auto p-4 rounded-4 shadow"
  [formGroup]="resetPasswordInput"
  (ngSubmit)="resetPassword()"
>
  <h2>Reset Password :</h2>

  <div class="my-4">
    <label for="password">New Password</label>
    <input
      type="password"
      formControlName="newPassword"
      class="form-control"
      id="password"
    />

    <!-- erros alret div -->

    <p
      *ngIf="
        resetPasswordInput.get('newPassword')?.getError('pattern') &&
        resetPasswordInput.get('newPassword')?.touched
      "
      class="text-danger"
    >
      -( Must start with UpperCase Letter) <br />
      -( At least 6 characters)
    </p>
  </div>

  <!-- API Response -->
  <p class="text-center text-danger m-0">{{ serverErrorResponse }}</p>

  <button class="btn btn-main">
    <span *ngIf="!isLoading">Reset Password</span>
    <i class="fas fa-spin fa-spinner" *ngIf="isLoading"></i>
  </button>
</form>
